* {
    box-sizing: border-box;
}

body {
    background-color: rgb(189, 120, 34);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.background {
    background: black;
    padding: 80px 90px 80px 90px;
    border-radius: 20px;
    overflow: hidden;
}


#start-quiz-div {
    text-align: center;
    color: white;
}

#progress {
    text-align: center;
    color: white;
}


#quiz-box-container {
    text-align: center;
}


#quiz {
    text-align: center;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.1rem;
    margin: 1.1rem;
}

ul li label {
    cursor: pointer;
}

#answerA {
    padding: 10px;
    margin: 8px;
    border: 2px solid red;
}

#answerA:hover {
    border: 2px solid rgb(74, 201, 31);
}

#answerB {
    padding: 10px;
    margin: 8px;
    border: 2px solid red;
}

#answerB:hover {
    border: 2px solid rgb(74, 201, 31);
}

#answerC {
    padding: 10px;
    margin: 8px;
    border: 2px solid red;
}

#answerC:hover {
    border: 2px solid rgb(74, 201, 31);
}

#answerD {
    padding: 10px;
    margin: 8px;
    border: 2px solid red;
}

#answerD:hover {
    border: 2px solid rgb(74, 201, 31);
}

.submit-button-class {
    background-color: #fff;
    color: #000;
    border: none;
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 50px;
    padding: 5px;
}

.submit-button-class:hover {
    background-color: rgba(255, 255, 255, 0.882);
}

#modal-trigger {
    background-color: white;
    border: none;
    box-shadow: none;
    margin-bottom: 20px;
    width: 30px;
    height: 30px;
    border-radius: 60px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.4s;
}

#modal-trigger:hover {
    transform: scale(1.2);
}

#modal-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: #fff;
    width: 450px;
    padding: 80px, 50px, 50px;
    border-radius: 5px;
}


.play-button {
    background-color: #fff;
    color: #000;
    border: none;
    display: inline-block;
    justify-content: center;
    width: 200px;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 50px;
    padding: 5px;
    font-weight: bold;
}

.play-button:hover {
    background-color: rgba(255, 255, 255, 0.882);
}