body {
    background-color: rgb(189, 120, 34);
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.background {
    background: black;
    padding: 80px 180px 80px 180px;;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

