/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Inter&family=Limelight&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(189, 120, 34);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/* Header */
.top-header {
    background: #222222;;
    box-shadow: 0px 0px 10px #222222;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-item {
    list-style: none;
    margin: 1rem;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    transition-duration: 0.2s;
}

.header-item a {
    text-decoration: none;
    color: #fff;
}

.header-item:hover {
    transform: scale(1.2);
}

/* Quiz box */
.background-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 90%;
    padding: 10px;

}


.background {
    background: black;
    padding: 40px 50px 50px 40px;
    border-radius: 20px;
    overflow: hidden;
}

#quiz-box-container {
    text-align: center;
}

h2 {
    font-family: 'Limelight', cursive;
    font-size: 30px;
}

#start-quiz-div {
    text-align: center;
    color: white;
}
/*The Modal*/
#modal-trigger {
    background-color: white;
    border: none;
    box-shadow: none;
    margin-bottom: 20px;
    width: 30px;
    height: 30px;
    border-radius: 60px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.4s;
}

#modal-trigger:hover {
    transform: scale(1.2);
}
/* Modal (background) */
#modal-popup {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 40%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
/* Modal Content */
.modal-content {
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    background-color: #fff;
    margin: auto;
    padding: 35px;
    border-radius: 5px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #888;
    float: right;
    font-size: 18px;
    font-weight: bold;
    margin: -10px;
  }

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#progress {
    text-align: center;
    color: white;
}

#quiz {
    display: none;
    text-align: center;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.1rem;
    margin: 1.1rem;
}

ul li label {
    cursor: pointer;
}

#answerA {
    padding: 10px;
    margin: 8px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#answerA:hover {
    background: #fff;
    color: #000;
    border: 2px solid rgb(74, 201, 31);
    transform: scale(1.1);
}

#answerB {
    padding: 10px;
    margin: 8px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#answerB:hover {
    background: #fff;
    color: #000;
    border: 2px solid rgb(74, 201, 31);
    transform: scale(1.1);
}

#answerC {
    padding: 10px;
    margin: 8px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#answerC:hover {
    background: #fff;
    color: #000;
    border: 2px solid rgb(74, 201, 31);
    transform: scale(1.1);
}

#answerD {
    padding: 10px;
    margin: 8px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#answerD:hover {
    background: #fff;
    color: #000;
    border: 2px solid rgb(74, 201, 31);
    transform: scale(1.1);
}

.submit-button-class {
    background-color: #fff;
    color: #000;
    border: none;
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 50px;
    padding: 5px;
}

.submit-button-class:hover {
    background-color: rgba(255, 255, 255, 0.882);
}


.play-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    display: inline-block;
    justify-content: center;
    background: #000;
    color: #fff;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 4px;
    margin: 4px;
    transition-duration: 0.4s;
}

.play-button:hover {
    background: #fff;
    color: #000;
    border: 2px solid #000;
}

#show-return-button {
    display: none;
}

.restart-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-decoration: none;
    transition-duration: 0.4s;
}

.restart-link:hover {
    transform: scale(1.2);
}

#restart-quiz {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: bold;
    background: #fff;
    color: #000;
    padding: 10px;
    width: 80px;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
}

/* footer */
footer {
    background: #222222;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-section-content {
    text-align: center;
}

.footer-section-content p {
    color: #777;
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.social-networks {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.social-networks li {
    margin: 0 35px;
}

.social-networks a {
    text-decoration: none;
    color: #fff;
}

.social-networks a i {
    font-size: 1.1rem;
    transition: color 0.4s;
}

.social-networks a:hover i {
    color: rgb(189, 120, 34);;
}

.footer-section-bottom {
    background: rgb(0, 0, 0);
    width: 100%;
    padding: 1px 0;
    text-align: center;
}

.footer-section-bottom p {
    color: #777;
    font-size: 12px;
    text-transform: uppercase;
}

/* Media queries*/
@media only screen and (min-width: 320px) {
    .background-container {
        width: 95%;
    }
    .background {
        padding: 40px 30px 40px 30px;
    }

    #modal-popup {
        padding-top: 30%;
    }

    .play-button {
        width: 150px;
    }  
  }

@media only screen and (min-width: 400px) {
    .background {
        padding: 40px 50px 40px 50px;
    }
  }

  @media only screen and (min-width: 600px) {
    .background-container {
        width: 80%;
    }
    .background {
        padding: 80px 90px 80px 90px;
    }

    .modal-content {
        font-size: 16px;
    }

  }

  @media only screen and (min-width: 1000px) {
    .background-container {
        width: 70%;
    }
    .background {
        padding: 130px 150px 130px 150px;
    }
  }