/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Inter&family=Limelight&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(189, 120, 34);
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/* Header */
.top-header {
    background: #222222;;
    box-shadow: 0px 0px 10px #222222;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-item {
    list-style: none;
    margin: 1rem;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    transition-duration: 0.2s;
}

.header-item a {
    text-decoration: none;
    color: #fff;
}

.header-item:hover {
    transform: scale(1.2);
}

/* Quiz Box */
.background-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 90%;
    padding-bottom: 50px;
}

.background {
    background: black;
    padding: 40px 50px 40px 50px;
    border-radius: 20px;
    overflow: hidden;
}

#quiz-box-container {
    text-align: center;
}

h2 {
    font-family: 'Limelight', cursive;
    font-size: 30px;
}

#start-quiz-div {
    text-align: center;
    color: white;
}
/*The Modal*/
#modal-trigger {
    background-color: white;
    border: none;
    box-shadow: none;
    margin-bottom: 20px;
    width: 30px;
    height: 30px;
    border-radius: 60px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.4s;
}

#modal-trigger:hover {
    transform: scale(1.2);
}

#modal-popup {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 40%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    background-color: #fff;
    margin: auto;
    padding: 35px;
    border-radius: 5px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #888;
    float: right;
    font-size: 18px;
    font-weight: bold;
    margin: -10px;
  }

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* The Quiz */

#progress {
    text-align: center;
    color: white;
}

#quiz {
    display: none;
    text-align: center;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.1rem;
    margin: 1.1rem;
}

ul li label {
    cursor: pointer;
}

.play-button {
    font-family: 'Bebas Neue', cursive;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 5px;
    display: inline-block;
    justify-content: center;
    background: #000;
    color: #fff;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 4px;
    margin: 4px;
    transition-duration: 0.4s;
}

.play-button:hover {
    background: #fff;
    color: #000;
    border: 2px solid #000;
}

#answerA {
    padding: 10px;
    margin: 8px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#answerA:hover {
    background: #fff;
    color: #000;
    border: 2px solid rgb(74, 201, 31);
    transform: scale(1.1);
}

#answerB {
    padding: 10px;
    margin: 8px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#answerB:hover {
    background: #fff;
    color: #000;
    border: 2px solid rgb(74, 201, 31);
    transform: scale(1.1);
}

#answerC {
    padding: 10px;
    margin: 8px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#answerC:hover {
    background: #fff;
    color: #000;
    border: 2px solid rgb(74, 201, 31);
    transform: scale(1.1);
}

#answerD {
    padding: 10px;
    margin: 8px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#answerD:hover {
    background: #fff;
    color: #000;
    border: 2px solid rgb(74, 201, 31);
    transform: scale(1.1);
}

#scoreContainer {
    padding-top: 15px;
}

#show-return-button {
    display: none;
}

.restart-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition-duration: 0.4s;
}

.restart-link:hover {
    transform: scale(1.2);
}

#restart-quiz {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: bold;
    background: #fff;
    color: #000;
    margin-top: 30px;
    padding: 10px;
    width: 80px;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
}

.bottom-text{
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    position: absolute;
    bottom: 110px;
}

/* footer */
footer {
    background: #222222;
    width: 100%;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-section-content {
    text-align: center;
}

.footer-section-content p {
    color: #777;
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.social-networks {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.social-networks li {
    margin: 0 35px;
}

.social-networks a {
    text-decoration: none;
    color: #fff;
}

.social-networks a i {
    font-size: 1.1rem;
    transition: color 0.4s;
}

.social-networks a:hover i {
    color: rgb(189, 120, 34);;
}

.footer-section-bottom {
    background: rgb(0, 0, 0);
    width: 100%;
    padding: 1px 0;
    text-align: center;
}

.footer-section-bottom p {
    color: #777;
    font-size: 12px;
    text-transform: uppercase;
}

/* Media queries*/
@media only screen and (min-width: 320px) {
    .top-header {
        height: 40px;
    }
    .background {
        padding: 8px 30px 8px 30px;
    }

    .background-container {
        width: 95%;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 14px;
        margin-bottom: 0;
    }

    #modal-popup {
        padding-top: 50%;
    }

    .play-button {
        width: 114px;
        padding: 10px
    }
    .bottom-text {
        display: none;
    }
  }
  .footer-section-content p {
    display: none;
  }

@media only screen and (min-width: 400px) {
    .answer {

    }
    .top-header {
        height: 60px;
    }

    .header-item {
        font-size: 25px;
    }
    .background {
        padding: 20px 50px 20px 50px;
    }
    .background-container {
        width: 85%;
        padding-bottom: 120px;
    }
    h2 {
        font-size: 34px;
    }
    h3 {
        font-size: 25px;
        margin-bottom: 35px;
    }
    #modal-popup {
        padding-top: 45%;
    }
    .play-button {
        width: 200px;
        margin-top: 25px;
        padding: 20px;
    }
    #scoreContainer {
        padding-top: 20px;
    }
    .bottom-text {
        display: block;
        font-size: 18px;
        bottom: 104px;
    }
    .footer-section-content p {
        margin: 4px auto;
        display: block;
    }

  }

  @media only screen and (min-width: 700px) {
    .background-container {
        width: 70%;
    }
    .background {
        padding: 75px 90px 75px 90px;
    }
    #modal-popup {
        padding-top: 30%;
    }
    #modal-trigger {
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
    .modal-content {
        font-size: 16px;
    }

    h3 {
        font-size: 25px;
        margin-bottom: 35px;
    }

    #answerA {
        padding: 20px;
        margin: 15px;
    }
    #answerB {
        padding: 20px;
        margin: 15px;
    }
    #answerC {
        padding: 20px;
        margin: 15px;
    }
    #answerD {
        padding: 20px;
        margin: 15px;
    }
    #scoreContainer {
        font-size: 20px;
        padding-top: 25px;
        padding-bottom: 20px;
    }
  }

  @media only screen and (min-width: 1000px) {
    .background-container {
        width: 65%;
    }
    .background {
        padding: 30px 100px 45px 100px;
    }
    #modal-popup {
        padding-top: 20%;
    }
    #modal-trigger {
        margin-top: 20px;
    }
    .modal-content {
        font-size: 16px;
    }
    h2 {
        font-size: 54px;
        margin-bottom: 35px;
    }
    .play-button {
        font-size: 2rem;
        width: 250px;
        margin-top: 25px;
    }
    #scoreContainer {
        font-size: 20px;
    }
    #restart-quiz {
        font-size: 18px;
        padding: 20px;
        width: 150px;
    }
  }